<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:theme="@style/Theme.Laptrinh_Mobile"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SetSavingsGoalActivity" />
        <activity android:name=".SavingsProgressActivity" />
        <activity android:name=".GoiYTietKiemActivity" />
        <activity android:name=".CaiDatTaiKhoanActivity" />
        <activity android:name=".TroGiupVaHoTroActivity" />
        <activity android:name=".ChinhSuaTaiKhoan" />
        <activity android:name=".LuuTaiKhoanActivity" />
        <activity
            android:theme="@style/Theme.Laptrinh_Mobile"
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".AddExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".AddIncomeActivity"
            android:exported="false" />
        <activity
            android:name=".EditExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".EditIncomeActivity"
            android:exported="false" />
    </application>

</manifest>