<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:theme="@style/Theme.Laptrinh_Mobile"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SetSavingsGoalActivity" />
        <activity android:name=".SavingsProgressActivity" />
        <activity android:name=".GoiYTietKiemActivity" />

        <activity
            android:theme="@style/Theme.Laptrinh_Mobile"
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".AddExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".AddIncomeActivity"
            android:exported="false" />
        <activity
            android:name=".EditExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".EditIncomeActivity"
            android:exported="false" />
<!--thu minh-->
        <activity
            android:name=".Hoso.Main_trogiup5"
            android:exported="false" />
        <activity
            android:name=".Hoso.Main_trogiup4"
            android:exported="false" />
        <activity
            android:name=".Hoso.Main_trogiup3"
            android:exported="false" />
        <activity
            android:name=".Hoso.Main_luudanhgia"
            android:exported="false" />
        <activity
            android:name=".Hoso.Main_editthongtin"
            android:exported="false" />
        <activity
            android:name=".Hoso.Main_caidat_thanhcong"
            android:exported="false" />
        <activity
            android:name=".Hoso.Main_thongtin"
            android:exported="false" />
        <activity
            android:name=".Hoso.Main_caidat"
            android:exported="false" />
        <activity
            android:name=".Hoso.Main_trogiup2"
            android:exported="false" />
        <activity
            android:name=".Hoso.Main_dieukhoan"
            android:exported="false" />
        <activity
            android:name=".Hoso.Main_trogiup"
            android:exported="false" />
        <activity
            android:name=".Hoso.Main_danhgia"
            android:exported="false" />
        <activity
            android:name=".Hoso.Main_hoso"
            android:exported="false" />
        <activity
            android:name=".Thongbao.Main_datthanhcong"
            android:exported="false" />
        <activity
            android:name=".Thongbao.Main_tgdatlich"
            android:exported="false" />
        <activity
            android:name=".Thongbao.Main_datlich"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".Thongbao.Main_thongbao" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".Thongbao.Main_thongbao"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Thongbao.Nhanthongbao"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>